# Python / FastAPI
__pycache__/
*.py[cod]
*.pyd
.python-version
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.tox/
pip-wheel-metadata/

# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!app/.env.example

# OS files
.DS_Store

# IDE
.idea
.vscode
